@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.app {
  background: linear-gradient(90deg, hsla(195, 100%, 44%, 1) 0%, hsla(195, 100%, 44%, 1) 0%, hsla(140, 60%, 82%, 1) 100%);
  display: flex;
}

.side-bar {
  background-color: rgba(32, 33, 35, 1);
  height: 100vh;
  width: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

nav {
  border: solid 0.5px rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.history {
  padding: 10px;
  margin: 10px;
  height: 100%;
}

.history li {
  list-style-type: none;
  padding: 15px 0;
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.info {
  color: rgba(225, 255, 255, 0.8);
  font-size: 14px;
  padding: 10px;
}

.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 800px;
}

input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
  font-size: 20px;
}

input:focus {
  outline: none;
}

#submit {
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
